/* Global styles */ 

$grey: #BFBFBF;
$soft_grey: #EFEFEF;
$green_bg: #90EE90;
$blue_bg: #67B1CF;
$yellow_bg: #FFEC8B;

h1, h2 {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 7px;
  margin-bottom: 0.7em;
}

h3 {
  margin-top: 0.5em;
}

.important {
  color: #7F2727;
}

.opt {
  font-size: 70%;
}

.notice{  
  padding: 1em; 
  margin-bottom: 2em; 
  background-color: #f0f0f0; 
  font: bold smaller sans-serif; 
}

.notice_bad {
  @extend .notice;
  border: 2px solid red;
}

.notice_ok{
  @extend .notice;
  border: 2px solid green;
}

/* Menu */

div.links_list{
 margin-top:1em;
 
 a{
  font-family: Helvetica, Arial, sans-serif;
  background-color:#CCCCFF;
  padding: 2px 1em;
  border: 1px dotted grey;
 }
}

h3.menu {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  background-color: $soft_grey;
  padding: 10px;
}

/* Tables */
th {
  font-family: Helvetica, Arial, sans-serif;
}

td{
  padding: 0 1em;
}

td.first{
  border-bottom-style: none;
}

td.middle{
  border-bottom-style: dotted;
  border-top-style: dotted;
}

td.last{
  border-top-style: none;
}

.class_0{
  background-color:#D3D3D3;
}

.class_1{
  background-color:#CCCCFF;
}

.part {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  margin-top: 20px;
  border: 2px dotted $grey;
  padding: 5px;
}

/*  */

#ontology_info {
  padding: 1em;
  background-color:#FFFF66;
  margin-top: 10px;
}

#progress_indicator {
  float:right;
}

#onto_loader {
  border: 2px dotted $grey;
  margin-bottom: 2em;
  padding: 1em
}

/* Form */

#form .part{

  label {
    display:block;
    margin-top:0.5em;
  }
  
  .checkbox {
    float:left;
  }
  
  .submitter {
    margin-top: 1em;
  }
  
}

fieldset {

  legend{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; 
  }
  
}

table{
  margin-bottom: 2em;
  td {
    border: 1px solid black;
  }
  caption {
    font-style:italic;
    font-size: 110%;
  }
}

/* The error box */ 

.fieldWithErrors {
 
  input { 
    background-color: red; 
  }
}

#errorExplanation { 
  width: 400px; 
  border: 2px solid red; 
  padding: 7px; 
  padding-bottom: 12px;
  margin-bottom: 20px; 
  background-color: #f0f0f0; 
  
  h2 { 
  text-align: left; 
  font-weight: bold; 
  padding: 5px 5px 5px 15px; 
  font-size: 12px; 
  margin: -7px; 
  background-color: #c00; 
  color: #fff; 
  } 
  
  p { 
  color: #333; 
  margin-bottom: 0; 
  padding: 5px; 
  } 
  
  ul li { 
  font-size: 12px; 
  list-style: square; 
  }
}

#result, #query_interface {
  margin-top: 2em;
}

.s_edge {
  background-color: $green_bg;
}

.r_edge {
  background-color: $blue_bg;
}

.i_edge {
  background-color: $yellow_bg;
}

ul.concept li{
  list-style-type: circle;
  color: #000099;
  margin-bottom: 10px;
  font-weight: bold;
}

li.child {
  list-style-image: url('/images/tree_bullet.gif');
  margin: 7px;
  
  span {
    padding: 2px 5px;
  }
  
  span.value {
    color: #0000FF;
    font-weight: bold;
  }
  
  span.edge {
    font-style: italic;
    //border: 1px dotted Black;
  }
}

span.concept_tag, span.instance_tag {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: white;
  margin-right: 0.5em;
  background-color: #000099;
}

span.concept_tag{
  padding: 7px;
}

span.instance_tag{
  padding: 1px 5px;
}



